.write-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    max-width: 1700px;
  }
  
  .form-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .category-select {
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 20px;
    height: 50px;
    border: 3px solid rgb(224, 224, 224);
    font-size: 15px;
  }
  
  .title-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid white;
    height: 25px;
  }
  
  .content-textarea {
    width: 98.4%;
    height: 500px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .form-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .submit-button {
    background-color: #f8e1e1;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
  }

  /* CommunityWriteForm.css */
.error-content {
  border: 1px solid red;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.invalid-sentences {
  color: red;
  font-style: italic;
}

  
  .submit-button:hover {
    background-color: rgb(255, 191, 191);
  }


