.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 1750px;
    background-color: #fff;
  }
  
  .logo img {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  
  .signup-form label {
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .signup-form input,
  .signup-form select {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
  }
  
  .signup-form input:focus,
  .signup-form select:focus {
    outline: none;
  }
  
  .birthdate-section,
  .gender-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .birthdate-section select,
  .gender-section select {
    width: 32%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .email-verify-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .email-verify-button {
    width: 100px;
    height: 48px;
    font-size: 24px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 10px;
    border-radius: 15px;
  }
  
  .signup-button {
    width: 538px;
    height: 48px;
    padding: 10px;
    font-size: 24px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    margin: 0 auto;
  }
  
  .signup-button:hover,
  .email-verify-button:hover {
    background-color: #444;
  }
  
  .email-code-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .email-code-verify-button {
    width: 100px;
    height: 48px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 10px;
    border-radius: 15px;
  }
  